<html ng-app="finalizarPrestamo">
	<head>
		<title>BIBLIOTECA</title>
		<link rel="shortcut icon" href="imagenes/libroVerde.png">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="css2/biblioteca.css" type="text/css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="componentes/barra-navegacion/barra-navegacion.js"></script>
		<script src="componentes/prestamos/prestamos.js"></script>
		<script src="componentes/footer/footer.js"></script>
		<script src="js2/finalizarPrestamo.js"></script>
		<script src="componentes/busquedas/busquedas.js"></script>
		<script src="componentes/catalogo/catalogo.js"></script>
	</head>	
	<body>
		
	<barra-navegacion></barra-navegacion>
	<busqueda></busqueda>

	<div class="container cuerpo" ng-controller="prestamoController">
		<br/>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
			
	
			<br/>
			<div class="caja-titulo hidden-xs">
			<img  itemprop="logo" src="imagenes/libro.png" alt="Biblioteca - uva" height="60" width="80">
			<b class="tituloInicio"><u>Finalizar Prestamo</u></b>
			<br/>
			<br/>
			</div>
			<b class="tituloInicioMovil visible-xs text-center"><u>Finalizar Prestamo</u></b>
			
			<form ng-show="!avanzar" class="form-horizontal" role="form" >
						<div class="form-group">
						<label class="col-lg-2 col-sm-2 col-md-2 control-label"> Codigo: </label>
						<div class="col-lg-8 col-sm-8 col-md-8">
						<input type="text" ng-model="codigo" class="form-control" >
						</div>
						</div>
						<div class="form-group">
						<label class="col-lg-2 col-sm-2 col-md-2 control-label"> DNI: </label>
						<div class="col-lg-8 col-sm-8 col-md-8">
						<input type="text" ng-model="dni" class="form-control" >
						</div>
						</div>
						<h3 class="texto-error text-center hidden-xs" >{{textoError}}</h3>
						<h4 class="texto-error text-center visible-xs" >{{textoError}}</h4>
						<input type="button" value="Realizar" ng-click="obtenerPrestamo()" class="btn-lg btn-primary center-block" />
						</form>


			<form ng-show="avanzar">	
				<div class="col-lg-3 col-sm-3 col-md-3 foto-libro text-center hidden-xs">	
				<img ng-src="{{prestamo.urlfoto}}"/>
				</div>
				<div class="col-lg-6 col-sm-6 col-md-6 text-left hidden-xs">
					<br/>
					<h4><b>Titulo: </b>{{prestamo.titulo}}</h4>
					<h4><b>Fecha Ini: </b>{{prestamo.fecha_inicio}}</h4>
					<h4><b>Fecha Fin: </b>{{prestamo.fecha_fin}} </h4>
				</div>
				
				<div class="visible-xs text-center col-xs-12">	
				<img ng-src="{{prestamo.urlfoto}}"/>
				</div>
				<div class="visible-xs col-xs-12 text-center">
					<br/>
					<h4><b>Titulo: </b>{{prestamo.titulo}}</h4>
					<h4><b>Fecha Ini: </b>{{prestamo.fecha_inicio}}</h4>
					<h4><b>Fecha Fin: </b>{{prestamo.fecha_fin}} </h4>
				</div>
				<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 botones-nuevo-prestamo">	
				<input type="button" value="Realizar" ng-click="nuevoPrestamo()" class="btn-lg btn-primary" />
				<input type="button" value="Cancelar" ng-click="cancelar()" class="btn-lg btn-danger"/>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3 class="texto-error text-center hidden-xs" >{{textoErrorFecha}}</h3>
				<h4 class="texto-error text-center visible-xs" >{{textoErrorFecha}}</h4>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
			<prestamos></prestamos>
		</div>
	</div>
	<div class="cuerpo container">
		<br/><br/>
	<catalogo></catalogo>
	<br/><br/>
	</div>
	<pie-pagina></pie-pagina>
		
</body>
</html>
