<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="Ejemplares">
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="css2/estilo.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="js2/controller.js"></script>
		
	</head>
		
	
	<body>

		<div class="container-fluid"  >
			<br/>
			<header>
				<nav class="navbar-inverse navbar-default navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
								<span class="sr-only">Menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<a href="#" class="navbar-brand"> Biblioteca </a>

						</div>
						<div class="collapse navbar-collapse" id="navbar-1">
							<form class="navbar-form navbar-left">
								<div class="form-group" ng-controller="Busqueda">
									<input type="text" class="form-control" placeholder="Buscar" ng-model="busqueda">
									<input type="button" class="form-control btn btn-primary" value="B" ng-click="realizarBusqueda()"> 
							</div>
							</form>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="http://localhost:8080/TFG3/nuevoUsuario.html">Consultar Libro</a> </li>
								<li class="active"><a href="">Añadir Ejemplar </a> </li>
								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >Prestamos<span class="caret"></span></a> 
									<ul class="dropdown-menu">
										<li><a href="">Item1</a></li>	
										<li><a href="">Item2</a></li>	
										<li class="divider"></li>	
										<li><a href="">Item4</a></li>	
									</ul>
								</li>
							</ul>	
						</div>

					
					</div>

				</nav>
			</header>
		</div>

	

		<div id="caja" class="container-fluid colorBeis" ng-controller="Ejemplares2">
			<div id="cajahijo">
			<form ng-show="!parte" >
				<h1 class="texto-info"> Introduza el isbn del ejemplar que quiere añadir</h1>

				<input type="text" ng-model="isbn" class="form-control" >
				<br>
				<input type="button" ng-click="getLibro()" value="Enviar" class="btn btn-lg btn-primary">
				<div ng-show="error">
					<h3 class="texto-error">{{textoError}}</h3>
				</div>
			</form>

			<form ng-show="parte">
				<h1 class="texto-info">El libro con el ISBN: {{isbn}} es {{libro.titulo}}.</h1>
				<br/>
				<img ng-src="{{libro.urlfoto}}">
				<br/>
				<br/>
				<h1 class="texto-info"> Introduce su codigo de la biblioteca ahora </h1>
				<input type="text" ng-model="codigo" class="form-control">
				<br/>
				<input type="button" ng-click="addEjemplar()" value="Añadir Ejemplar" class="btn btn-lg btn-primary">
				<input type="button" ng-click="cancelar()" value="Cancelar" class="btn btn-lg btn-danger">
				<h3 class="texto-error">{{textoError}}</h3>
			</form>
			</div>
				
		</div>
		<div class="container-fluid" ng-controller="Ejemplares1">
			
			<ul>
				<li ng-repeat="foto in fotos">
					<strong>{{foto.titulo}}</strong>
					<img ng-src="{{foto.urlfoto}}">
					<br/>
				</li>
				
			</ul>
			<nav>
				<ul class="pagination">
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
					
				</ul>
			</nav>
			
		</div>	
	
		
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	</body>
</html>
