<html ng-app="nuevoEjemplar">
	<head>
		<title>BIBLIOTECA</title>
		<link rel="shortcut icon" href="imagenes/libroVerde.png">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="css2/biblioteca.css" type="text/css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="componentes/barra-navegacion/barra-navegacion.js"></script>
		<script src="componentes/prestamos/prestamos.js"></script>
		<script src="componentes/busquedas/busquedas.js"></script>
		<script src="componentes/footer/footer.js"></script>
		<script src="js2/nuevoEjemplar.js"></script>
	</head>
	<body>
	<barra-navegacion></barra-navegacion>
	<busqueda></busqueda>
	<div class="container cuerpo">
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hasta-final ">
			<div  class="container-fluid " ng-controller="Ejemplar2">
				<br/>
			<div class="caja-titulo hidden-xs">
			<img  itemprop="logo" src="imagenes/libro.png" alt="Biblioteca - uva" height="60" width="80">
			<b class="tituloInicio"><u>Nuevo Ejemplar</u></b>
			<br/>
			<br/>
			<br/>
			</div>
			<b class="tituloInicioMovil visible-xs text-center"><u>Nuevo Ejemplar</u></b>
				
				
				<div >
					<form ng-show="!parte" class="form-horizontal" role="form" >
						<div class="form-group">
						<label class="col-lg-3 col-md-4 col-sm-4 control-label"> ISBN 10 o 13: </label>
						<div class="col-lg-8 col-md-8 col-sm-7">
						<input type="text" ng-model="isbn" class="form-control" >
						</div>
						<br/>
						<br/>
						<input type="button" ng-click="getLibro()" value="Enviar" class="btn btn-lg btn-primary center-block">
						<div ng-show="error">
							<h3 class="texto-error text-center">{{textoError}}</h3>
							<input type="button" ng-show="mostrarManual" ng-click="generarManual()" value="generarEjemplarManualmente"  class="btn btn-lg btn-primary center-block"/>
						</div>
						</div>
					</form>
					<div ng-show="parte">
						<h4 class="text-center"> <b> ISBN: {{isbn}}.</b></h4>
						<h4 class="text-center"> <b> TITULO: {{libro.titulo}}.</b></h4>
						<br/>
							<img ng-src="{{libro.urlfoto}}" class="center-block ">
						<br/>
						<br/>
							<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-lg-2 col-md-3 col-sm-4 control-label">Codigo:</label>
							<div class="col-lg-8 col-md-8 col-sm-6">
								<input type="text" ng-model="codigo" class="form-control">
							</div>
						</div>
									</form>
						<br/>
						<br/>

					
						<div class="text-center">
						<input type="button" ng-click="addEjemplar()" value="Añadir Ejemplar" class="btn btn-lg btn-primary "/>
						<input type="button" ng-click="cancelar()" value="Cancelar" class="btn btn-lg btn-danger "/>
						</div>
					
						<h3 class="texto-error">{{textoError}}</h3>
																	</div>

				</div>
			</div>
			<br/>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">
			<br/>
			<br/>
			<prestamos></prestamos>
		</div>
	</div>	
	<pie-pagina></pie-pagina>
</body>
</html>
