<html ng-app="nuevoUsuario">
	<head>
		<title>BIBLIOTECA</title>
		<link rel="shortcut icon" href="imagenes/libroVerde.png">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="css2/biblioteca.css" type="text/css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="js2/nuevoUsuario.js"></script>
		<script src="componentes/barra-navegacion/barra-navegacion.js"></script>
		<script src="componentes/prestamos/prestamos.js"></script>
		<script src="componentes/footer/footer.js"></script>
		<script src="componentes/busquedas/busquedas.js"></script>
		<script src="componentes/catalogo/catalogo.js"></script>
	</head>
	<body> 
		<barra-navegacion></barra-navegacion>	
		<busqueda></busqueda>
		
		<div class="container cuerpo" >
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 ">
			
			<br/>
			<h2 class="text-center text-primary"><b><u>Añadir Nuevo Usuario</u></b></h2>
			</br>
			<form ng-controller="Usuario1" class="form-horizontal" role="form"> 
				<div class="form-group">
					<label class="col-lg-2  col-md-2 col-sm-2 control-label"> Nombre(*): </label>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<input type="text" ng-model="nombre" class="form-control" >
					</div>
				</div>
				<h5 ng-show="errorNombre" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 texto-error text-center">El campo nombre no puede ser vacio</h5>
				<div class="form-group">
					<label class="col-lg-2  col-md-2 col-sm-2 control-label"> Apellidos(*): </label>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<input type="text" ng-model="apellidos" class="form-control" >
					</div>
				</div>	
				<h5 ng-show="errorApellidos" class="texto-error text-center">El campo apellidos no puede ser vacio</h5>
								<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 control-label"> DNI(*): </label>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<input type="text" ng-model="dni" class="form-control" >
					</div>
				</div>	
				<h5 ng-show="errorDNI" class="texto-error text-center">El campo dni no puede ser vacio</h5>
								<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 control-label"> Password(*): </label>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<input type="text" ng-model="password" class="form-control" >
					</div>
				</div>	
				<h5 ng-show="errorPassword" class="texto-error text-center">El campo password tiene que tener un tamaño superior a 7</h5>
								<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 control-label"> Telefono(*): </label>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<input type="text" ng-model="telefono" class="form-control" >
					</div>
				</div>	
				<h5 ng-show="errorTelefono" class="text-danger text-center">El campo telefono tiene que tener 9 digitos numericos</h5>
				<h5 ng-show="errorDNIRepetido" class="texto-error text-center">{{textoErrorDNIRepetido}}</h5>
				
				
				<br/>
				<input type="button" class="center-block btn btn-primary btn-lg" ng-click="nuevoUsuario()" value="Nuevo Usuario">
			</form>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">
			<br/>
			<br/>
			<prestamos></prestamos>
		</div>
		</div>
	<catalogo></catalogo>
	<pie-pagina></pie-pagina>	
	</body>
</html>
