<html ng-app="Usuarios">
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="js2/nuevoUsuario.js"></script>
		<script src="componentes/barra-navegacion/barra-navegacion.js"></script>
		<style>
			body{
				background: #bce8f1;
			}
		</style>
	</head>
	<body> 
		<barra-navegacion></barra-navegacion>
		<form ng-controller="Usuario1"> 
			<input type="text" class="form-control" value="dni" ng-model="dni">
			<input type="text" class="form-control" value="contraseña" ng-model="password">
			<input type="text" class="form-control" value="nombre" ng-model="nombre">
			<input type="text" class="form-control" value="apellidos" ng-model="apellidos">
			<input type="text" class="form-control" value="telefono" ng-model="telefono">
			<input type="button" class="btn btn-primary btn-lg" ng-click="nuevoUsuario()" value="nuevo">
			
		</form>
	</body>
</html>
