<html ng-app="app">
	<head>
		<title>BIBLIOTECA</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="css2/estilo.css" type="text/css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="modulo/app.js"></script>
		<script src="js2/nuevoPrestamo.js"></script>
		<script src="componentes/barra-navegacion/barra-navegacion.js"></script>
		<script src="componentes/prestamos/prestamos.js"></script>
		<script src="componentes/footer/footer.js"></script>
	</head>
	<body>
	<barra-navegacion></barra-navegacion>

	<div class="container" ng-controller="Prestamo">
		<br/>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
			<h1 class="text-center"> Nuevo Prestamo</h1>
			<form ng-show="!avanzar" >
				<input type="text" value="dni" ng-model="dni"/>
				<input type="text" value="codigo" ng-model="codigo"/>
				<input type="button" value="Realizar" ng-click="obtener()" />
				<p class="text-danger text-center" >{{textoError}}</p>
			</form>
			<form ng-show="avanzar">
				<h1>Hola gente el prestamo seria hasta el dia {{dia}}/{{mes}}/{{anio}}</h1>
				<h4>¿Cuantos dias mas quieres añadirle</h4>
				<img ng-src="{{ejemplar.urlfoto}}"/>
				<p>{{usuario.dni}}</p>
				<input type="text" ng-model="diasMax" value="dias a añadir"/>
				<input type="button" value="Realizar" ng-click="nuevoPrestamo()" />
				<p class="text-danger text-center" >{{textoError}}</p>
			</form>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
			<prestamos></prestamos>
		</div>
	</div>
	<pie-pagina></pie-pagina>
</body>
</html>
